<div class="page-shell">
  <div class="page-header">
    <div>
      <p class="eyebrow">Novo</p>
      <h1>Criar <%= MEvento.model_name.human %> - <%= current_step.titleize %></h1>
    </div>
    <div class="page-header__actions">
      <%= link_to "Voltar", m_eventos_path, class: "secondary-button" %>
    </div>
  </div>

  <%= render "form", m_evento: @m_evento %>
</div>
