<div id="<%= dom_id u_usuario_perfil %>">
  <div>
    <strong>U perfil:</strong>
    <%= u_usuario_perfil.u_perfil_id %>
  </div>

  <div>
    <strong>G usuario:</strong>
    <%= u_usuario_perfil.g_usuario_id %>
  </div>

</div>
