<div class="page-shell">
  <div class="page-header">
    <div>
      <p class="eyebrow">Novo</p>
      <h1>Criar <%= UUsuarioPerfil.model_name.human %></h1>
    </div>
  </div>

  <%= render "form", u_usuario_perfil: @u_usuario_perfil %>
</div>
