<div id="<%= dom_id u_funcao %>">
  <div>
    <strong>Descricao:</strong>
    <%= u_funcao.descricao %>
  </div>

  <div>
    <strong>U tipo funcao:</strong>
    <%= u_funcao.u_tipo_funcao_id %>
  </div>

</div>
