<div id="<%= dom_id m_musica %>">
  <div>
    <strong>Descricao:</strong>
    <%= m_musica.descricao %>
  </div>

  <div>
    <strong>M compositor:</strong>
    <%= m_musica.m_compositor_id %>
  </div>

  <div>
    <strong>M artista:</strong>
    <%= m_musica.m_artista_id %>
  </div>

</div>
