<div id="<%= dom_id m_pessoa_funcao %>">
  <div>
    <strong>G pessoa:</strong>
    <%= m_pessoa_funcao.g_pessoa_id %>
  </div>

  <div>
    <strong>U funcao:</strong>
    <%= m_pessoa_funcao.u_funcao_id %>
  </div>

  <div>
    <strong>Principal:</strong>
    <%= m_pessoa_funcao.principal %>
  </div>

</div>
