<div id="<%= dom_id m_grupo %>">
  <div>
    <strong>Descricao:</strong>
    <%= m_grupo.descricao %>
  </div>

  <div>
    <strong>G entidade:</strong>
    <%= m_grupo.g_entidade_id %>
  </div>

  <div>
    <strong>M tipo grupo:</strong>
    <%= m_grupo.m_tipo_grupo_id %>
  </div>

</div>
