<div id="<%= dom_id m_grupo_pessoa %>">
  <div>
    <strong>G pessoa:</strong>
    <%= m_grupo_pessoa.g_pessoa_id %>
  </div>

  <div>
    <strong>M grupo:</strong>
    <%= m_grupo_pessoa.m_grupo_id %>
  </div>

</div>
