<div class="page-shell">
  <div class="page-header">
    <div>
      <p class="eyebrow">Novo</p>
      <h1>Criar <%= MGrupoPessoa.model_name.human %></h1>
    </div>
  </div>

  <%= render "form", m_grupo_pessoa: @m_grupo_pessoa %>
</div>
