<div id="<%= dom_id g_instrumento_naipe %>">
  <div>
    <strong>G instrumento:</strong>
    <%= g_instrumento_naipe.g_instrumento_id %>
  </div>

  <div>
    <strong>G naipe:</strong>
    <%= g_instrumento_naipe.g_naipe_id %>
  </div>

</div>
