<div class="page-shell">
  <div class="page-header">
    <div>
      <p class="eyebrow">Novo</p>
      <h1>Criar <%= GPredio.model_name.human %></h1>
    </div>
  </div>

  <%= render "form", g_predio: @g_predio %>
</div>
