<div id="<%= dom_id g_usuario %>">
  <div>
    <strong>Email:</strong>
    <%= g_usuario.email %>
  </div>

  <div>
    <strong>Ativo:</strong>
    <%= g_usuario.ativo %>
  </div>

  <div>
    <strong>G pessoa:</strong>
    <%= g_usuario.g_pessoa_id %>
  </div>

</div>
