<div class="page-shell">
  <div class="page-header">
    <div>
      <p class="eyebrow">Novo</p>
      <h1>Criar <%= UPermissao.model_name.human %></h1>
    </div>
  </div>

  <%= render "form", u_permissao: @u_permissao %>
</div>
