<div id="<%= dom_id m_evento_musica %>">
  <div>
    <strong>M evento:</strong>
    <%= m_evento_musica.m_evento_id %>
  </div>

  <div>
    <strong>M musica:</strong>
    <%= m_evento_musica.m_musica_id %>
  </div>

</div>
