<div id="<%= dom_id u_perfil_permissao %>">
  <div>
    <strong>U perfil:</strong>
    <%= u_perfil_permissao.u_perfil_id %>
  </div>

  <div>
    <strong>U permissao:</strong>
    <%= u_perfil_permissao.u_permissao_id %>
  </div>

</div>
