<div id="<%= dom_id u_perfil_funcao %>">
  <div>
    <strong>U perfil:</strong>
    <%= u_perfil_funcao.u_perfil_id %>
  </div>

  <div>
    <strong>U funcao:</strong>
    <%= u_perfil_funcao.u_funcao_id %>
  </div>

</div>
