<div class="page-shell">
  <div class="page-header">
    <div>
      <p class="eyebrow">Novo</p>
      <h1>Criar <%= MEnsaioMusica.model_name.human %></h1>
    </div>
  </div>

  <%= render "form", m_ensaio_musica: @m_ensaio_musica %>
</div>
