<div id="<%= dom_id m_arranjo %>">
  <div>
    <strong>M musica:</strong>
    <%= m_arranjo.m_musica_id %>
  </div>

  <div>
    <strong>M arranjador:</strong>
    <%= m_arranjo.m_arranjador_id %>
  </div>

  <div>
    <strong>M tonalidade:</strong>
    <%= m_arranjo.m_tonalidade_id %>
  </div>

</div>
