<div id="<%= dom_id m_arranjo_instrumento_naipe %>">
  <div>
    <strong>G instrumento naipe:</strong>
    <%= m_arranjo_instrumento_naipe.g_instrumento_naipe_id %>
  </div>

  <div>
    <strong>M arranjo:</strong>
    <%= m_arranjo_instrumento_naipe.m_arranjo_id %>
  </div>

</div>
