<div class="page-shell">
  <div class="page-header">
    <div>
      <p class="eyebrow">Editar</p>
      <h1>Editar <%%= <%= class_name %>.model_name.human %></h1>
    </div>
  </div>

  <%%= render "form", <%= singular_table_name %>: @<%= singular_table_name %> %>
</div>
