<div id="<%= dom_id g_pessoas_instrumento %>">
  <div>
    <strong>G pessoa:</strong>
    <%= g_pessoas_instrumento.g_pessoa_id %>
  </div>

  <div>
    <strong>G instrumento naipe:</strong>
    <%= g_pessoas_instrumento.g_instrumento_naipe_id %>
  </div>

</div>
