<div class="page-shell">
  <div class="page-header">
    <div>
      <p class="eyebrow">Editar</p>
      <h1>Editar <%= GPessoasInstrumento.model_name.human %></h1>
    </div>
  </div>

  <%= render "form", g_pessoas_instrumento: @g_pessoas_instrumento %>
</div>
