<div class="page-shell">
  <div class="page-header">
    <div>
      <p class="eyebrow">Editar</p>
      <h1>Editar <%= MTipoArranjo.model_name.human %></h1>
    </div>
  </div>

  <%= render "form", m_tipo_arranjo: @m_tipo_arranjo %>
</div>
