<div class="page-shell">
  <div class="page-header">
    <div>
      <p class="eyebrow">Novo</p>
      <h1>Criar <%= MEnsaio.model_name.human %></h1>
    </div>
  </div>

  <%= render "form", m_ensaio: @m_ensaio %>
</div>
