<div id="<%= dom_id g_municipio %>">
  <div>
    <strong>Descricao:</strong>
    <%= g_municipio.descricao %>
  </div>

  <div>
    <strong>Codigo ibge:</strong>
    <%= g_municipio.codigo_ibge %>
  </div>

  <div>
    <strong>G estado:</strong>
    <%= g_municipio.g_estado_id %>
  </div>

</div>
