<div class="page-shell">
  <div class="page-header">
    <div>
      <p class="eyebrow">Novo</p>
      <h1>Criar <%= MTonalidade.model_name.human %></h1>
    </div>
  </div>

  <%= render "form", m_tonalidade: @m_tonalidade %>
</div>
