<div class="page-shell">
  <div class="page-header">
    <div>
      <p class="eyebrow">Novo</p>
      <h1>Criar <%= GEntidade.model_name.human %></h1>
    </div>
  </div>

  <%= render "form", g_entidade: @g_entidade %>
</div>
